.calInnerBox{
    /* margin-top: 160rem; */
    padding: 40px 35px 30px 35px;
    border: 2px solid white;
    border-radius: 20px;
}

.calInnerBox h4{
    font-size: 22px;
}

.calInnerBox p{
    font-size: 12px;
}

@media (max-width:468px){
    *{
        margin: 0px;
        padding: 0px;
    }

    .calBox{
        margin-top: 240px;
        /* height: 100px; */
        height: auto;
    }

    .calInnerBox img{
        width: 200px;
        position: relative;
        right: 54px;
        height: auto;
    }
}

@media (min-width:469px) and (max-width:768px) {
    *{
        margin: 0px;
        padding: 0px;
    }

    .calBox{
        margin-top: 240px;
        /* height: 100px; */
        height: auto;
    }

    .calInnerBox img{
        width: 300px;
        position: relative;
        right: 30px;
        height: auto;
    }
}