.codeBetterInnerBox{
    width: 50vw;
    /* margin-top: 160rem; */
    padding: 70px 70px;
    border: 2px solid white;
    border-radius: 20px;
}

@media (max-width:468px){
    *{
        margin: 0px;
        padding: 0px;
    }

    .codeBetterBox{
        margin-top: 240px;
        /* height: 100px; */
        height: 200px;
    }

    .codeBetterInnerBox{
        width: 100%;
        height: auto;
    }

    .codeBetterInnerBox img{
        width: 100%;
        height: auto;
    }
}

@media (min-width:469px) and (max-width:768px) {
    *{
        margin: 0px;
        padding: 0px;
    }

    .codeBetterBox{
        margin-top: 240px;
        /* height: 100px; */
        height: auto;
    }

    .codeBetterInnerBox img{
        width: 300px;
        position: relative;
        right: 30px;
        height: auto;
    }
}