/* .copyright{ */
    /* background: rgb(28, 28, 37); */
    /* height: 2px; */
    /* margin-top: 5px; */
/* } */

.footer-box{
    margin-bottom: 20px;
}

.footerLink:hover{
    color: rgb(206, 187, 187);
}

.footerLink{
    color: white;
}

@media (max-width:468px) {
    *{
        margin: 0;
        padding: 0;
    }
    .footerBox{
        margin-top: 49vh;
        /* height: 100px; */
        background-color: rgb(60, 37, 70);
    }

    .quickLink1{
        margin-right: 28px;
        margin-bottom: 40px;
        margin-top: 0px;
    }

    .input{
        display: none;
    }


}

@media (min-width:469px) and (max-width:768px) {
    *{
        margin: 0;
        padding: 0;
    }
    .footerBox{
        background-color: rgb(60, 37, 70);
    }

    .quickLink1{
        margin-right: 28px;
        margin-bottom: 40px;
        margin-top: 0px;
    }

    .input{
        display: none;
    }


}