.passInnerBox{
    /* margin-top: 160rem; */
    padding: 40px 35px 30px 35px;
    border: 2px solid white;
    border-radius: 20px;
}

.passInnerBox h4{
    font-size: 22px;
}

.passInnerBox p{
    font-size: 12px;
}

@media (max-width:468px){
    *{
        margin: 0px;
        padding: 0px;
    }

    .passBox{
        margin-top: 240px;
        /* height: 100px; */
        height: 350px;
    }
}

@media (min-width:469px) and (max-width:768px) {
    *{
        margin: 0px;
        padding: 0px;
    }

    .passBox{
        margin-top: 240px;
        /* height: 800px; */
        height: auto;
    }
}