.clinicBox{
    height: 500px;
}

.clinicInnerBox{
    padding: 30px 15px 13px 15px;
    border: 2px solid white;
    border-radius: 20px;
}

.clinicInnerBox h4{
    font-size: 22px;
}

.clinicInnerBox p{
    font-size: 12px;
}

@media (max-width:468px){
    *{
        margin: 0px;
        padding: 0px;
    }

    .clinicBox{
        margin-top: 240px;
        /* height: 100px; */
        height: auto;
    }
}

@media (min-width:469px) and (max-width:768px) {
    *{
        margin: 0px;
        padding: 0px;
    }

    .clinicBox{
        margin-top: 240px;
        /* height: 800px; */
        height: auto;
    }
}