.homeBox{
    height: 500px;    
    /* height: 100%; */
    /* margin-top: 40px; */
}

.btn{
    background-color: rgb(60, 37, 70);
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    font-weight: 70px;
}

.btn:hover{
    color: rgb(206, 187, 187);
    border: 2px solid rgb(206, 187, 187);
}