.Links{
    /* text-decoration: none; */
    /* background: white; */
    color: white    ;
    /* text-decoration: none; */
}

.Links:hover{
    /* background-color: white; */
    color: rgb(206, 187, 187);
    /* text-decoration: none; */
}

@media (max-width:425px) {
    *{
        margin: 0;
        padding: 0;
    }

    .navBox{
        height: 200px;   
        background-color: rgb(60, 37, 70);
    }
}