*{
    margin: 0px;
    padding: 0px;
}

body{
    /* background-color: rgb(45, 28, 53); */
    background-color: rgb(28, 28, 37);
    color: white;
    font-family: 'Playpen Sans', cursive;
    /* height: 3000px; */
}

.header{
    /* background-color: rgb(28, 28, 37); */
    height: 60px;   
    background-color: rgb(60, 37, 70);
}



.links{
    font-size: 12px;
    /* cursor: pointer; */
}

.footer{
    background-color: rgb(60, 37, 70);
    color: white;
    height: 310px;
    /* height: auto; */
}