.contactBox{
    height: 700px;
}

.contactInnerBox{
    border: 2px solid white;
    padding: 60px 0px;
    border-radius: 20px;
    width: 550px;
    /* font-size: 10px; */
}

.contactForm input{
    border-radius: 15px;
}

.contactForm textarea{
    border-radius: 15px;
}

@media (max-width:468px){
    *{
        margin: 0px;
        padding: 0px;
    }

    .contactBox{
        margin-top: 180px;
        height: 400px;
        /* height: auto; */
    }

    .contactInnerBox{
        /* margin-top: 40px; */
        width: 100%;
        height: auto;
    }
}

@media (min-width:469px) and (max-width:768px) {
    *{
        margin: 0px;
        padding: 0px;
    }

    .contactBox{
        margin-top: 180px;
        height: 650px;
        /* height: auto; */
    }

    .contactInnerBox{
        /* margin-top: 40px; */
        width: 100%;
        height: auto;
    }
}